.tabs-boxed .tab {
    border-radius: 2px;
    background: white;
    color: black;
    margin: 4px;
}
.tabs-boxed {
    border-radius: 0;
    padding-bottom: 20px;
}
.hero-text{
    line-height: 4rem;
    font-size: 55px;
    font-weight: 800;
    text-transform: uppercase;
}
.carousel img{
height: 100px;
padding: 10px 5px;

}
.stats{
    border-radius: 0;
}
